.class-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
  }
  
  .card-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-btn {
    background: red;
    color: white;
  }
  .materials {
    margin-top: 20px;
  }
  
  .material {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .material h4 {
    margin-bottom: 5px;
  }
  
  .material ul {
    list-style: none;
    padding: 0;
  }
  
  .material ul li {
    margin-bottom: 5px;
  }
  
  .material ul li a {
    text-decoration: none;
    color: #007bff;
    word-break: break-word;
  }
  
  .material ul li a:hover {
    text-decoration: underline;
  }

  .material button {
    margin: 5px;
    border-radius: 5px;
  }
  