.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.header h1 {
  flex-grow: 1;
  font-size: 1em;
  margin-left: 1em;
}

.header .logo {
  height: 92px;
  width: auto;
}

.header a:hover {
  cursor: pointer;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.header .user-image {
  width: 70px; /* Slightly smaller than the logo */
  height: 70px; /* Ensure it's a perfect circle */
  border-radius: 50%; /* Makes the image circular */
  border: 2px solid #ccc; /* Adds a border around the image */
  object-fit: cover; /* Ensures the image fits nicely inside the circle */
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */
}

.header .user-image:hover {
  transform: scale(1.2); /* Expands the image on hover */
  border-color: #5b5d5f; /* Optional: change border color on hover */
}

.user-name {
  margin-left: 1em;
}
/* From Uiverse.io by reshades */
